@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

main.shop {
    .content {
        padding-top: 150px;
        color: white;

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 150px;

            .card {
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: 10px;
                margin-left: 20px;
                gap: 10px;

                display: flex;
                text-align: left;
                justify-content: space-around;
                flex-direction: column;

                img {
                    width: 70%;
                    margin: 0 auto;
                    border-radius: 5px;
                }

                h3 {
                    font-size: 2rem;
                }

                p,
                span {
                    font-family: 'Numans', sans-serif;
                    color: rgba(255, 255, 255, 0.5);
                }

                span {

                    strong {
                        color: white;
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }

                a {
                    span {
                        color: white;
                    }
                }

            }
        }
    }
}

.heightt{
    height: 15vh;
background-color: rgba(255, 255, 0, 0);
@include mobile{
    height: 0;
}
}


.labell {
    height: 98px;
    width: 645px;
    }
    .labell .text-wrapperr {
    color: #ffffff;
    font-family: "Numans", sans-serif;
    font-size: 77.7px;
    @media (max-width:768px) {
      font-size: 57.7px;
      left: 50%;
      transform: translateX(-70%);
  
    }
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    top: -10vh;
    right: 10vh;
    width: 645px;
    }
    
  .subtract{
    left: 50%;
        transform: translateX(0%);
    top: -93vh;
    @media (max-width:768px) {
      top: -77vh;
  
    } 
    left: 1.1vh;
    cursor: pointer;
    position: absolute;
  }
  
  .group{
    left: 16.8%;
    transform: translateX(0%);  
    top: -67vh;
    @media (max-width:768px) {
      top: -53vh;
  
    }
    cursor: pointer;
    position: absolute;
  }
  .group, .subtract {
    transition: transform 0.5s ease;
  }
  .framer_motion{
    z-index: -1;
  }
  
  .group.hidden {
    transform: scale(0.2);
  }
  
  .subtract.hidden {
    transform: scale(1.5);
  }  
  
  .move-animation {
    animation: move 2s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(100px) translateY(200px);
    }
    
  }
  
  
  
  .above_shop{
    height: 80vh;
    position: relative;
    left:15vh;
  }
  
  .rotates {
    position: fixed;
    left: 32%;
    transform: translateX(-50%);  z-index: 3;
    top: -160vh;
    @media (max-width:768px) {
      top: -139vh;
  
      
    }
  
  }
  
  .rotatess {
    position: relative;
    left: 52%;
    transform: translateX(-50%);
  
  }
    .box .ellipse {
    background-color: #d9d9d900;
    border-radius: 208px;
    height: 416px;
    position: relative;
    top: -10vh;
    width: 416px;
      @media (max-width:768px) {
        height: 356px;
        margin: auto 20px;
  
        width: 356px;
      }
    }
    
  
  .orderss{
    border: 1px solid white;
    position: relative;
    left:802px;
    width: 556px;
    height: 463px;
  top: -45vh;
     justify-self: center;
    bottom: 35vh;
    align-items: center;
    justify-content: center;
    text-align: start;
  
  }
  
  
  .modern-table {
    width: 120%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .modern-table th, .modern-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .modern-table th {
    border-radius: 1px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .modern-table {
      width: 100%;
    }
  }
  
  
  .detailss{
    position: relative;
    justify-content: space-between;
    top: 3%;  
  
    @media (max-width: 768px) {
      top: 0;
      justify-content: center;
      align-self: center; /* Center vertically */
  
    }
  }
  
  
  .rightdetails{
    left: -10%;
    margin:20px auto;
    justify-self: start;
    align-self: start; /* Center vertically */
    @media (max-width:786px) {
      left: 0%;
  
      
    }
  }
  
  .rightdetailsss{
    left: 0%;
    justify-self: start;
    align-self: start;
    @media (max-width:786px) {
  
      justify-self: center;
    align-self: center;
    }
  
  }
  